<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <header>
            <h1>Your ASP.NET application</h1>
        </header>
        <nav>
            <ul>
                <li><a class="active" href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
        <section>
            @RenderBody()
            
        </section>
        <aside>

            <h2>Social links</h2>
            <p>Facebook</p>
            <p>Facebook</p>
            <p>Facebook</p>
            <p>Facebook</p>
            <p>Facebook</p>
            <p>Facebook</p>
            <p>Facebook</p>

            <p>Facebook</p>
        </aside>
        <footer>
            <p>&copy Copyright 2015 - Khanh Nguyen</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>